nav {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 150px rgba(0, 0, 0, 0.5);
}

#navBtn,
.bell-img {
  user-select: none;
  -webkit-user-drag: none;
  transition: all ease 0.2s;

  &:active {
    opacity: 0.8;
  }
}

#navbar {
  color: white;
  position: fixed;
  top: 0;
  left: -200%;
  width: 72%;
  height: 100%;
  background-color: #007598;
  padding-left: 1.2em;
  padding-top: 2.4em;
  transition: left 0.3s ease;
  z-index: 100;
}

#navbar.active {
  left: 0;
}

.hide-btn-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 0.4em;

  & img {
    height: 36px;
    align-self: center;
  }

  & .nav-title {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.5em;
  }
}

#hideBtn {
  color: #fff;
  border: none;
  width: 36px;

  &:active {
    opacity: 0.8;
  }
}

.name {
  font-size: 1rem;
  font-weight: 500;
}

.mobile-number {
  margin-top: 0.9em;
  margin-bottom: 1.25em;
  font-size: 0.9rem;
  font-weight: 300;
}

.college-code {
  font-size: 0.9rem;
  font-weight: 300;
}

.divider {
  height: 2px;
  width: calc(100% + 1.25em);
  margin: 1.5em 0;
  margin-left: -1.25em;
  background-color: #65bcd7;
  opacity: 1;
}

.nav-option {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  color: #ecf0f1;
  font-size: 1rem;
  font-weight: 500;
}

.nav-option img {
  width: 36px;
  margin-right: 0.3em;
}

.version {
  margin-top: 1em;
  font-size: 0.85rem;
}

.dev {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 100px;
}